*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: comfortaa, sans-serif;
    min-height: 100vh;
    background-color: navajowhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}
header{
    background-color: burlywood;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.player, .enemy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}
.enemy{
    grid-row-start: 2;
    grid-column-start: 2;
    display: none;
    background-color: moccasin;
}
.ship-factory{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: bisque;
}
.block{
    background-color: silver;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    cursor: pointer;
}
.player-board, .enemy-board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    height: 60vh;
    width: 30vw;
}
.cell{
    background-color: #7fffd4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.enemy-board .cell:hover{
    cursor: pointer;
    background-color: #69ceac;
}
.hit{
    background-color: red;
    transition: all 1s ease;
}
.occupied{
    background-color: silver;
    transition: all 0.3s ease;
}
.missed{
    background-color: #41816c;
    transition: all 1s ease;
}
.game-over{
    display: none;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}
.winner-container{
    padding: 1rem;
    background-color: darksalmon;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.winner{
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
}
.play-again{
    font-size: 1rem;
    padding: 0.5rem;
    background-color: lawngreen;
    border: 2px solid black;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1.2rem;
}
.play-again:hover{
    transform: scale(1.05);
}